<div class="dashboard-layout">

  <!-- Mobile toggle button -->
  <button class="menu-toggle" (click)="toggleSidebar()">☰</button>

  <!-- SIDEBAR -->
  <aside class="sidebar" [class.open]="isSidebarOpen">
    <h1 class="ims">Inventory Management System</h1>

    <ul class="nav-links">
      @if (isAuth()){
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/transaction">Transaction</a></li>
        <li><a routerLink="/purchase">Purchase</a></li>
        <li><a routerLink="/sell">Sell</a></li>
        <li><a routerLink="/profile">Profile</a></li>
      }

      @if (isAdmin()){
        <li><a routerLink="/category">Category</a></li>
        <li><a routerLink="/product">Product</a></li>
        <li><a routerLink="/supplier">Supplier</a></li>
      }

      @if (!isAuth()){
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
      }

      @if (isAuth()){
        <div class="logout-section">
          <li><a (click)="logout()">Logout</a></li>
        </div>
      }
    </ul>
  </aside>

  <!-- MAIN CONTENT -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

</div>
